@model Product
@{
    Layout = "_DashBoard";
}

<div class="overview">
    <div class="title">
        <i class="uil uil-tachometer-fast-alt"></i>
        <span class="text">Adding Product</span>
    </div>

    <div>
        <form method="post" asp-action="EditProduct" class="row">
            <div class="mb-3">
                <label for="" class="form-label" asp-for="Name">Product Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="" asp-for="Name"
                       value="@Model.Name" />
                <span class="text-danger" asp-validation-for="Name"></span>


            </div>
            <div class="mb-3">
                <label for="" class="form-label" asp-for="Description">Product Description</label>
                <textarea type="text"
                          class="form-control"
                          placeholder="" asp-for="Description">
                    @Model.Description</textarea>
                <span class="text-danger" asp-validation-for="Description"></span>

            </div>

            <div class="mb-3 col-lg-6">
                <label for="" class="form-label" asp-for="Price">Prodcut Price</label>
                <input type="number"
                       class="form-control"
                       placeholder="" asp-for="Price"
                       value="@Model.Price"></input>
                <span class="text-danger" asp-validation-for="Price"></span>

            </div>

            <div class="mb-3 col-lg-6">
                <label for="" class="form-label" asp-for="Quantity">Prodcut Quantity</label>
                <input type="number"
                       class="form-control"
                       placeholder="" asp-for="Quantity"
                       value="@Model.Quantity"></input>
                <span class="text-danger" asp-validation-for="Quantity"></span>

            </div>

            <div class="mb-3 col-lg-12 d-flex align-items-center mt-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="EnableSize" />
                    <label class="form-check-label" asp-for="EnableSize"> Enable Product Size </label>
                    <span class="text-danger" asp-validation-for="EnableSize"></span>

                </div>
            </div>

            <div class="mb-3 col-lg-6">
                <label for="" class="form-label" asp-for="CompanyId">Category</label>
                <span class="text-danger" asp-validation-for="CompanyId"></span>

                <select class="form-select "
                        asp-for="CompanyId">
                    @{
                        if (Model.CompanyId == 1)
                        {
                            <option>Select one</option>
                            <option selected value="1">Nike</option>
                            <option value="2">Addidas</option>
                        }
                        else if (Model.CompanyId == 2)
                        {
                            <option>Select one</option>
                            <option value="1">Nike</option>
                            <option selected value="2">Addidas</option>
                        }

                        else
                        {
                            <option selected>Select one</option>
                            <option value="1">Nike</option>
                            <option value="2">Addidas</option>
                        }
                    }
                </select>
            </div>

            <div class="col-lg-12 d-flex justify-content-center  ">

                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
        </form>

    </div>
</div>
